<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    .login-card{
      background:  var(--accent-color);
      background: linear-gradient(0deg,  var(--accent-color) 0%, var(--accent-light) 100%);
      border-width: 0;
      border-radius: 20px;
      margin-top: 50px;
      width: 500px;
    }

    .login-card div h1{
      color: white;
      font-weight: bold;
      text-align: center;
    }

    .login-card div form input {
      border-radius: 30px;
      border-width: 0;
    }

    .login-card a{
      color: rgba(255, 255, 255, 0.63);
      font-size: small;
      float: right;
    }

    .login-card a:hover{
      text-decoration: none;
    }

    .login-card form button {
      border-radius: 30px;
      font-weight: 500;
      background: var(--accent-high-light);
      border-width: 0;
      width: 100%;
    }
  </style>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
  <%- include('../partials/util'); %>
</header>

<main class="container d-flex justify-content-center">
  <div class="card login-card">
    <div class="card-body">
      <h1>LOGIN</h1>
      <div class="alert alert-danger" role="alert" style="display: none" id="login-err">
        This is a primary alert—check it out!
      </div>
      <form id="login-form">
          <div class="form-group">
          <!-- <label for="exampleInputEmail1">Email address</label> -->
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label> -->
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <a href="/auth/reset-pass">Reset password</a>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/firebase'); %>
<script type="module">
    import { getAuth, signInWithEmailAndPassword } from 'https://www.gstatic.com/firebasejs/9.8.2/firebase-auth.js'

    function loginSubmit(event) {
        console.log('login')
        event.preventDefault()
        var formData = new FormData(document.querySelector('#login-form'))
        signInWithEmailAndPassword(getAuth(), formData.get('email'), formData.get('password')).then(({ user }) => {
          window.location.replace("/");
        })
        .catch(err=>{
          document.getElementById('login-err').style.display = 'block'
          document.getElementById('login-err').innerText = err
        })
    }

    var loginForm = document.getElementById("login-form");
    loginForm.addEventListener('submit', loginSubmit);

</script>
</body>
</html>