<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <!-- <%- include('../partials/header'); %> -->
  <%- include('../partials/util'); %>
</header>

<main class="container">
  <div class="jumbotron">
        <h1>Reset password</h1>
        <form id="form">
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Send reset password email</button>
        </form>
        <a href="/auth/login">Login</a>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/firebase'); %>
<script type="module">
    import { getAuth, sendPasswordResetEmail  } from 'https://www.gstatic.com/firebasejs/9.8.2/firebase-auth.js'
    var form = document.getElementById("form");

    function handler(event) {
        event.preventDefault()
        var formData = new FormData(form)
        sendPasswordResetEmail (getAuth(), formData.get('email'))
        .then(() => {
            
        }).catch(err=>{

        })   
    }

    form.addEventListener('submit', handler);

</script>
</body>
</html>